.header{
  background-color: var(--colorPink);
  padding: 2rem;
  grid-area: hdr;
}

.header__sub{
  font-size: var(--fontRegular);
}

.header__title{
  font-size: var(--fontBigg);
  line-height: var(--spaceBig);
}

.header__thetitle{
  display: flex;
}

@media screen and (min-width: 850px) {
  .header__foto{
    display: none;
  }
  .header__title{
    font-size: var(--fontMedium);
    line-height: var(--spaceRegMid);
  }
  .header__sub{
    font-size: var(--fontSmall);

  }
}