:root {
  --colorLightest: white;
  --colorBlack: #211f1f;
  --colorMain: #f9d2cb;
  --colorSecondary: #a3f4dc;
  --colorGray: #fafafa;
  --colorDarkGray: #9c9c9c;
  --colorPink: #F9D2CB;

  --spaceSmall: .75rem;
  --spaceRegular: 1rem;
  --spaceMid: 2rem;
  --spaceBig: 3rem;

  --fontSmall: 0.75rem;
  --fontRegular: 1.13rem;
  --fontMedium: 1.25rem;
  --fontMedBig: 1.5rem;
  --fontBig: 1.75rem;
  --fontBig: 3rem;


  --font: "roboto", sans-serif;
  --fontWeightRegular: 400;
}
